body {
    margin: 0;
    font-family: sans-serif;
    background: #EEEDEB;
  }

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #1A3636;
    color: #EEEDEB;
    border-bottom: 4px solid #FF9A00;
  }


.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }